%body
  .chat
    = render 'layouts/chat_side'
    .chat-main
      .chat-header.clearfix
        .chat-header--left
          %h2
            = @group.name
          %p.chat-header__users
            Menbers:
            %span.chat-header__user  kazuki
        .chat-header--right
          = link_to "Edit", edit_group_path(@group) ,class: "chat-header--right__edit-btn"
      .chat-body
        %ul.chat-messages
          %li.chat-message
            .chat-message__header.clearfix
              %p.chat-message__header--name kazuki
              %p.chat-message__header--time 2016/11/12 06:50:56
            %p.chat-message__body hogehogehoge
      .chat-footer
        %form.new_message
          .chat-footer__body
            %textarea
            %label.chat-footer__file
              %input(type="file" name="message[image]" id="message_image")
              %i.fa.fa-image
          %input(value="Send")
