<!DOCTYPE html>
  <head>
    <meta carset="UTF-8">
    <link rel="stylesheet" href="style.scss">
    <title>Chat Space</title>
  </head>


<body>
  <div class="chat">
    <div class="chat-side">
      <div class="chat-user clearfix">
        <h5>seo</h5>
      </div>
      <ul class="chat-groups">
        <li class="chat-group">
          <p class="chat-group__name">sample</p>
          <p class="chat-group__message">Good boy work</p>
        </li>
      </ul>
    </div>
    <div class="chat-main">
      <div class="chat-header clearfix">
        <div class="chat-header--left">
          <h2>sample</h2>
          <p class="chat-header__users">
          "
          Menbers:
          "
          <span class="chat-header__user">kazuki</span>
          </p>
        </div>
        <div class="chat-header--right">
        </div>
      </div>
      <div class="chat-body">
        <ul class="chat-messages">
          <li class="chat-message">
            <div class="chat-message__header clearfix">
              <p class="chat-message__name">kazuki</p>
              <p class="chat-message__time">2016/11/12 06:50:56</p>
            </div>
            <p class="chat-message__body">hogehogehoge</p>
          </li>
        </ul>
      </div>
      <div class="chat-footer">
        <form class="new_message">
          <div class="chat-footer__body">
            <textarea ></textarea>
            <label class="chat-footer__file">
            </label>
          </div>
          <input value="Send">
        </form>
      </div>
    </div>
  </div>
</body>
</html>
