@mixin chat-group-user(){
  .chat-group-user {
    clear: both;
    padding: 0 15px;
    line-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    text-align: right;

    &__name {
      float: left;
    }

    &__btn {
      display: inline-block;
      cursor: pointer;

      &--add {
        color: #38aef0;
      }

      &--remove {
        color: #f05050;
      }
    }
  }
}
