@mixin chat-group-form__field(){
  &__field {
    margin-top: 30px;

    &--left {
      float: left;
      width: 30%;
      padding-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
    }

    &--right {
      float: right;
      width: 70%;
    }

    .chat-group-form__label {
      display: block;
      line-height: 50px;
      font-weight: bold;
      text-align: right;
    }

    .chat-group-form__input {
      float: left;
      width: 100%;
      line-height: 30px;
      padding: 10px 15px;
      box-sizing: border-box;
    }
  }
}
