@import "clearfix";
$section-color: #fff;

html {
  height: 100%;
  width: 100%;
}

div {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.fa {
  display: inline-block;
  fnt: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

label {
  cursor: default;
}

botton, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

form {
    display: block;
    margin-top: 0em;
}

body{
  height: 100%;
  width: 100%;
  margin: 0px;
}

.chat {
  height: 100%;
  .chat-side{
    float: left;
    height: 100%;
    width: 300px;
    background-color: #2f3e51;
    .chat-user{
      height: 100px;
      @include clearfix();
      padding: 20px;
      color: $section-color;
      background-color: #253141;
      box-sizing: border-box;
      h5 {
        float: left;
        line-height: 60px;
        letter-spacing: 2px;
        font-size: 16px;
      }
      &__actions{
        float: right;
        .fa {
          line-height: 60px;
        }
      }
    }
    .chat-groups {
      margin: 0;
      padding: 0;
      color: $section-color;
      list-style: none;
      .chat-group {
        padding: 20px 20px;
        color: $section-color;
        &__name {
          display: iniline-block;
          font-size: 15px;
          margin-bottom: 5px;
        }
        &__message {
          font-size: 11px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .chat-main {
    float:left;
    position: relative;
    width: calc(100% - 300px);
    height: 100%;
    .chat-header {
      @include clearfix();
      padding-right: 40px;
      padding-left: 40px;
      background-color: $section-color;
      border-bottom: 1px solid #eee;
      &--left {
         float: left;
         h2 {
           margin-top: 20px;
           line-height: 50px;
           letter-spacing: 2px;
           color: #333;
           font-size: 20px;
           font-weight: 400;
         }
         p {
           line-height: 20px;
           color: #999;
           font-size: 12px;
           span {
           margin-left: 3px;
           }
         }

      }
      &--right {
        float: right;
        &__edit-btn{
          display: inline-block;
          margin: 28px 0;
          padding-right: 20px;
          padding-left: 20px;
          line-height: 40px;
          color: #38aef0;
          font-size: 14px;
          border: 2px solid;
        }
      }

    }
    .chat-body{
      position: relative;
      height: calc(100% - 190px);
      overflow-y: scroll;
      .chat-messages {
        position: absolute;
        right: 40px;
        left: 40px;
        padding: 0;
        list-style: none;
        .chat-message {
          margin-bottom: 40px;
          &__header{
            @include clearfix();
            line-height: 20px;
            &--name{
              float: left;
              margin-bottom: 10px;
              font-weight: 600;
            }
            &--time{
                float: left;
                margin-left: 10px;
                color: #aaa;
                font-size: 12px;
            }
          }
          &__body {
            font-size: 14px;
          }
        }
      }
    }
    .chat-footer{
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 50px;
      padding: 20px 40px;
      background-color: #ddd;
      .chat-footer__body {
        float: left;
        width: calc(100% - 115px);
        height: 50px;
        position: relative;
        textarea {
          width: 100%;
          height: 50px;
          line-height: 20px;
          border: none;
          resize: none;
          display: block;
        }
        .chat-footer__file {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: 40px;
        height: 50px;
        line-height: 50px;
        text-aligin: center;
        cursor: pointer;
          input{
            display: none;
          }
        }
      }
      input {
        float: left;
        display: inline-block;
        width: 100px;
        margin-left: 15px;
        line-height: 50px;
        color: $section-color;
        background-color: #38aef0;
        text-align: center;
        border: none;
        padding: 0;
      }
    }
  }
}
