= form_for(@message,url: "messages", class: 'new_message' ) do |f|
  .chat-footer__body
    = f.text_area :body, placeholder: "type a message"
  = f.hidden_field :group_id, value: @group.id
  = f.submit "send"
